* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("pictures, logos/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}


/* div {background-color: green;}
div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
}