.character-sheet {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.character-sheet img {
  height: 50px;
  margin-right: 10px;
}

.character-sheet p {
  margin: 0;
}

body {
  background-image: url('/pictures/wallpaper.jpg');
  background-repeat: none;
  background-position: center;
  background-size: cover;
}